@page
@model RazorPagesProj.Pages.ViewKuch.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<p>Tato stránka není nutná - stačí použít vyskakovací okno viz Index.cshtml</p>

@*<h3>Smazat</h3>
<br />
<h6>Určitě chcete recept smazat?</h6>
<div>   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kucharka.Jmeno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kucharka.Jmeno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kucharka.Ingredience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kucharka.Ingredience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kucharka.Recept)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kucharka.Recept)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Kucharka.Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a asp-page="./Index">Zpět</a>
    </form>
</div>*@
